body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f0f0f0; */
}

h1 {
    font-size: 28px;
}

hr {
    border: 1px solid #ddd;
    margin: 20px 0;
}

img {
    max-width: 100%;
    height: auto;
}

span {
    font-weight: bold;
}

a {
    color: #0073e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin-block-start: 0;
    margin-block-end: 0;
}

p {
    color: #555;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
}

.p-2 {
    padding: .75rem;
    box-sizing: border-box;
}

.p-1 {
    padding: .5rem;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.content-j-c {
    justify-content: center;
}

.content-j-sb {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.w-100 {
    width: 100%;
}

.profile_image {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    transition: all 250ms ease-in-out;
    cursor: pointer;
}

.profile_image img {
    height: 100%;
    width: 100%;
}

.profile_image:hover {
    transform: scale(1.1);
}

.mt-2 {
    margin-top: .5rem;
}

.gap-2 {
    gap: .75rem;
}

.chip_styles {
    background-color: #e4e4e4;
    padding: 6px 12px;
    border-radius: 1rem;
    font-size: 14px;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: 600;
}

.college_info{
    margin-top: .25rem;
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.college_info span{
    color: #797979;
}